.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cartWrapper {
  width: 100%;
  text-align: center;
}

.cartTitle {
  font-style: normal;
  font-size: 34px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: var(--bg-btn-accent);
  margin-bottom: 10px;
  text-shadow: var(--text-shadow);
}

.cartText {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 145.4%;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--color-grey);
  margin-bottom: 14px;
}

.cartImg {
  margin: 0 auto 14px;
}

.cartBtn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-text-accent);
  background: var(--bg-btn-accent);
  border-radius: 30px;
  padding: 15px 20px;
  transition: var(--transition);

  &:hover {
    transform: scale(1.05);
    background: var(--bg-cart-hover);
  }
}

@media screen and (min-width: 480px) {
  .container {
    padding: 40px;
  }
  .cartText {
    margin-bottom: 48px;
  }

  .cartImg {
    margin: 0 auto 70px;
  }
}
