:root {
  --color-green: #258850;
  --color-orange: #ffa500;
  --bg-card: #e9dab3;

  --bg-btn: #ebe8e8;
  --bg-btn-hover: #d6d0d0;
  --bg-btn-active: #beafaf;
  --bg-btn-accent: #282828;
  --bg-container: #f8f5f5;
  --btn-text-accent: #fff;

  --text-shadow: 4px 4px 5px #808080, 2px 2px 1px #ff0000;

  --transition: all 250ms ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f8db90;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  border: none;
  cursor: pointer;
}
